<div
  class="flex w-full h-screen justify-center items-center border border-red-400 bg-slate-100"
>
  <p-card class="flex flex-col w-1/4 gap-3 p-2" header="Cultural Intelligence">
    <div
      class="border border-[#01A6F0] p-5 flex justify-around rounded-lg cursor-pointer"
      (click)="login()"
      (keypress)="login()"
    >
      <div class="text-xl font-bold">Login Microsoft</div>
      <div class="flex items-center">
        <i class="pi pi-microsoft text-xl text-[#01A6F0]"></i>
      </div>
    </div>
  </p-card>
</div>
