<div class="card flex flex-column align-items-center gap-2">
  <p-dialog
    header="Quick Edit"
    [modal]="true"
    [(visible)]="visible"
    [position]="position"
    [style]="{ width: '30rem' }"
    (onHide)="onClose()"
  >
    <form [formGroup]="quickEditform" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-3 grid-rows-2 gap-4">
        <div><label for="first_name">First Name</label></div>
        <div class="col-span-2">
          <input
            type="text"
            id="first_name"
            name="first_name"
            pInputText
            formControlName="first_name"
            class="w-full"
          />
        </div>

        <div class="row-start-2">
          <label for="email">Email</label>
        </div>
        <div class="col-span-2 row-start-2">
          <input
            type="email"
            id="email"
            name="email"
            pInputText
            formControlName="email"
            class="w-full"
          />
        </div>
      </div>
      <div class="flex justify-end mt-5">
        <p-button type="submit" label="Edit" />
      </div>
    </form>
  </p-dialog>
</div>
